@charset "UTF-8";
.quote {
  margin-top: 40px;
}
.quote section {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 575px) {
  .quote section {
    flex-direction: column;
  }
}
.quote-author {
  background-color: #dbe3ec;
  border-radius: 10px;
  padding: 20px 35px;
}
.quote-author img {
  width: 80px;
  margin-right: 30px;
}
@media (max-width: 767px) {
  .quote-author img {
    width: 40px;
  }
}
@media (max-width: 575px) {
  .quote-author img {
    margin: 0;
  }
}
.quote-author blockquote {
  margin: 0;
  color: #3a3a3a;
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 1.88;
  margin-bottom: 16px;
}
.quote-author blockquote p {
  margin: 0;
}
.quote-author blockquote footer {
  display: flex;
  padding: 0;
  background: none;
  color: #6c757d;
  font-size: 14px;
  margin: 0;
}
.quote-author blockquote footer:before {
  content: "— ";
}
.quote-author blockquote footer cite {
  margin-left: 2px;
}
.quote-phrase {
  flex-direction: column;
}
.quote-phrase i {
  font-size: 30px;
  color: #00368c;
}
.quote-phrase blockquote {
  margin: 0;
  line-height: 1.88;
}
.quote-phrase blockquote p {
  color: #00368c;
  font-size: 21px;
  font-style: italic;
  margin: 8px 0 0;
}
@media (max-width: 575px) {
  .quote-phrase blockquote p {
    font-size: 19px;
  }
}
.quote-phrase blockquote cite {
  display: none;
}
.quote-phrase blockquote:after {
  content: "";
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: solid 3px #00368c;
  width: 50px;
}