.quote {
    margin-top: 40px;
    section {
        display: flex;
        align-items: flex-start;
        
        @media (max-width: 575px) {
            flex-direction: column;
        }
    }
    
    &-author { 
        background-color: #dbe3ec;
        border-radius: 10px;
        padding: 20px 35px;

        img {
            width: 80px;
            margin-right: 30px;

            
            @media (max-width: 767px) {
                width: 40px;
            }

            @media (max-width: 575px) {
                margin: 0;
            }
        }

        blockquote {
            margin: 0;
            color: #3a3a3a;
            font-family: "Open Sans";
            font-size: 18px;
            line-height: 1.88;
            margin-bottom: 16px;

            p {
                margin: 0;
            }
            
            footer {
                display: flex;
                padding: 0;
                background: none;
                color: #6c757d;
                font-size: 14px;
                margin: 0;

                &:before {
                    content: "— ";
                }

                cite {
                    margin-left: 2px;
                }
            }
        }
    }
    
    &-phrase {
        flex-direction: column;

        i {
            font-size: 30px;
            color: #00368c;
        }

        blockquote {
            margin: 0;
            line-height: 1.88;

            p {
                color: #00368c;
                font-size: 21px;
                font-style: italic;
                margin: 8px 0 0;

                @media (max-width: 575px) {
                    font-size: 19px;
                }
            }

            cite {
                display: none;
            }

            &:after {
                content: "";
                display: flex;
                margin-top: 10px;
                margin-bottom: 10px;
                border-bottom: solid 3px #00368c;
                width: 50px;
            }
        }
    }
}