.comparador-de-imagens{
    position: relative;
    user-select: none;
    .comparison-slider{
        position: relative;
        img{
            max-width: unset;
        }
        .overlay{
            .overlay-wrapper{
                position: absolute;
                bottom: 20px;
                width: 250px;
                background-color: rgba(0, 0, 0, 0.4);
                padding: 10px;
                box-sizing: border-box;
                color: #DDD;
                user-select: all;
            }
            &.right{
                .overlay-wrapper{
                    right: 20px; 
                    text-align: right;
                }
            }
            &.left{
                .overlay-wrapper{
                    left: 20px;
                }
            }
        }

        .divider{
            width: 2px;
            background-color: rgba(255, 255, 255, 0.2);
            &:before{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                left: -9px;
                top: 50%;
                margin-top: -10px;
                background-color: white;
                transform: rotate(45deg);
                transition: all 0.1s ease-in-out;
                border-radius: unset;
            }
            &:after{
                content: "";
                position: absolute;
                width: 12px;
                height: 12px;
                left: 3px;
                top: 50%;
                margin-top: -6px;
                background-color: white;
                transform: rotate(45deg);
                transition: all 0.1s ease-in-out;
            }
            &.draggable{
                &:before{
                    width: 30px;
                    height: 30px;
                    left: -14px;
                    margin-top: -15px;
                }
                &:after{
                    width: 20px;
                    height: 20px;
                    margin-top: -10px;
                    background-color: #555;
                }
            }
        }
    }
}

.comparador-de-imagens.deep-purple{
    .comparison-slider{
        .divider{
            &:before{
                background-color: #b982ff;
            }
            &:after{
                content: "";
                background-color: #b982ff;
            }
        }
    }
}
