.video {
  margin-top: 40px;
  width: 100%;
}
@media (max-width: 768px) {
  .video {
    height: 50vh;
  }
}
@media (max-width: 575px) {
  .video {
    height: 45vh;
  }
}
.video p {
  text-align: center;
  font-size: 80%;
  color: #6c757d;
  margin: 10px 0;
  line-height: 1;
}

.video.deep-purple {
  font-family: "Orbitron-Regular";
}