.video {
  margin-top: 40px;
  width: 100%;
}
.video p {
  text-align: center;
  font-size: 80%;
  color: #6c757d;
  margin: 10px 0;
  line-height: 1;
}
.video .plyr_ms {
  position: relative !important;
  z-index: 0 !important;
}

.video.deep-purple {
  font-family: "Orbitron-Regular";
}