.timeline{
    &-right{
        padding-left: 50%;
        text-align: left;
        margin-left: 10px;
    }
    &-left{
        padding-right: 50%;
        text-align: right;
        margin-right: 10px;
    }
    &-title{
        
    }
    &-subtitle{
        
    }
    &-text{
        
    }
    &-image{

    }
}
.timelines-wrapper{
    position: relative;
    &::before{
        content: "";
        height: 100%;
        width: 1px;
        background-color: red;
        position: absolute;
        left: 50%;
    }
}

