.timeline-right {
  padding-left: 50%;
  text-align: left;
  margin-left: 10px;
}
.timeline-left {
  padding-right: 50%;
  text-align: right;
  margin-right: 10px;
}

.timelines-wrapper {
  position: relative;
}
.timelines-wrapper::before {
  content: "";
  height: 100%;
  width: 1px;
  background-color: red;
  position: absolute;
  left: 50%;
}