 .titulo{
    color: #00368c;
    fill: #00368c;
    h1,h2,h3,h4,h5,h6{
        font-weight: 600;
        margin-bottom: 0.5rem;
        span{
            //vertical-align: middle;
            margin-right: 5px ;
            svg{
                width: 0.8em;
                height: 0.8em;
            }
        }
    }
    &.background{
        div{
            div{
                width: fit-content;
                background-color: #00368c;
                padding: 0 10px;
                line-height: 3em;
                h1,h2,h3,h4,h5,h6{
                    text-transform: uppercase;
                    color: #fff;
                    fill: #fff;
                }
            }
        }
    }
 }

.titulo.deep-purple{
    color: #3a3a3a;
    fill: #3a3a3a;
    h1,h2,h3,h4,h5,h6{
        font-family: "Orbitron-Regular";
        color: #3a3a3a;
        font-style: oblique;
        letter-spacing: 5px;
    }
   &.background{
       div{
           div{
               width: fit-content;
               background-color: #423188;
               border-radius: 4px;
               padding: 0 10px;
               line-height: 3rem;
               h1,h2,h3,h4,h5,h6{
                   color: #fff;
                   fill: #fff;
                   font-style: oblique;
               }
           }
       }
   }
}