.texto-ricov2 .btn-edit {
  color: #fff;
  background-color: #007ABF;
  border-color: #007ABF;
  text-decoration: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.texto-ricov2 .btn-edit:hover {
  background-color: #006299;
  border-color: #00598c;
}
.texto-ricov2 .btn-edit:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 142, 201, 0.5);
}
.texto-ricov2 table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  font-size: 18px;
}
.texto-ricov2 table thead tr {
  background-color: #dbe3ec;
  font-weight: bold;
}
.texto-ricov2 table:not(:has(thead)) tr:first-child {
  background-color: #dbe3ec;
  font-weight: bold;
}
.texto-ricov2 table td {
  border: 1px solid #939393;
  padding: 0.75rem;
  vertical-align: top;
}

.texto-rico.deep-purple {
  font-family: "Orbitron-Regular";
}