.texto-rico table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  font-size: 18px;
}
.texto-rico table thead tr {
  background-color: #dbe3ec;
  font-weight: bold;
}
.texto-rico table:not(:has(thead)) tr:first-child {
  background-color: #dbe3ec;
  font-weight: bold;
}
.texto-rico table td {
  border: 1px solid #939393;
  padding: 0.75rem;
  vertical-align: top;
}
.texto-rico figure:has(img) {
  display: grid;
  justify-content: center;
}
.texto-rico figure:has(img) figcaption {
  text-align: center;
  font-size: 80%;
  color: #6c757d;
  margin: 10px 0;
  line-height: 1;
}
.texto-rico figure:has(img) img {
  margin: 0 auto;
}

.texto-rico.deep-purple {
  font-family: "Orbitron-Regular";
}