.texto-rico {
    table {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        font-size: 18px;

        thead {
            tr {
                background-color: #dbe3ec;
                font-weight: bold;
            }
        }

        &:not(:has(thead)) {
            tr:first-child {
                background-color: #dbe3ec;
                font-weight: bold;
            }
        }

        td {
            border: 1px solid #939393;
            padding: 0.75rem;
            vertical-align: top;
        }
    }
}

.texto-rico.deep-purple {
    font-family: "Orbitron-Regular";
}