.indice .capa {
  background-image: url("https://publish-p136102-e1403896.adobeaemcloud.com/content/dam/adobe-cms/pattern-ld.png");
  background-color: #b5d4ed;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  padding-bottom: 100px;
  padding-top: 80px;
  width: 100vw;
  left: 50%;
  margin: 0;
  margin-left: -50vw;
}
.indice .capa.isInEditor {
  min-height: unset;
}
.indice .capa__box {
  background-color: #fff;
  width: 70%;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
  margin-top: 60px !important;
  margin-bottom: 60px !important;
  border-radius: 10px;
  box-shadow: 1px 2px 18px 12px rgb(60 88 112 / 21%);
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}
.indice .capa__box__content h1,
.indice .capa__box__content h2,
.indice .capa__box__content h3,
.indice .capa__box__content h4,
.indice .capa__box__content h5,
.indice .capa__box__content h6 {
  margin: 0;
  text-transform: uppercase;
}
.indice .capa__box__content__anchor-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.indice .capa__box__content__anchor-list a {
  line-height: 1.3;
  color: #3a3a3a;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  background-color: #e3e3e3;
  padding: 4px 8px;
  border-radius: 5px;
  display: flex;
  gap: 3px;
}
.indice .capa__box__content__anchor-list a p {
  margin: 0;
}
.indice .capa__box__content__anchor-list a i {
  font-size: 12px;
  transform: translateY(4px);
}
.indice .capa__box__content__anchor-list a:hover {
  background-color: #c9c9c9;
}

@media (width <= 992px) {
  .indice .capa {
    padding-top: 0;
    padding-bottom: 0;
  }
  .indice .capa__box {
    grid-template-columns: 1fr;
    padding: 1rem 30px;
  }
  .indice .capa__box__image picture {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .indice .capa__box__image picture img {
    max-width: 83%;
  }
  .indice .capa__box__content__title {
    display: flex;
    justify-content: center;
  }
}

@media (width <= 767px) {
  .indice .capa__box__content__title h1,
  .indice .capa__box__content__title h2,
  .indice .capa__box__content__title h3,
  .indice .capa__box__content__title h4,
  .indice .capa__box__content__title h5,
  .indice .capa__box__content__title h6 {
    font-size: 1.2rem;
  }
}