.folha-de-creditos{
  .capa{
    background-image: url(https://publish-p136102-e1403896.adobeaemcloud.com/content/dam/adobe-cms/pattern-ld.png), linear-gradient(45deg, #007ABF, #0055A5), linear-gradient(180deg, #fff, #fff);
    overflow: hidden;
    position: relative;
    min-height: 60vh;
    display: flex;
    align-items: center;
    background-attachment: fixed;
    padding-bottom: 100px;
    padding-top: 80px;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    &.isInEditor{
      min-height: unset; 
    }
    
    &__title{
      padding: 0 16px;
      max-width: 1200px;
      margin: auto;

      h1{
        font-size: 4rem;
        color: #ffffff;
        text-align: center;
        text-transform: uppercase;
        font-weight: 100;
        @media (max-width: 767px) {
          font-size: 2rem;
        }
      }
      @media (width >= 600px) {
          padding: 0 32px;
      }
    }
  }
  .folha{
    min-height: 200px;
    box-shadow: 0 30px 50px 0 rgba(1, 1, 1, 0.15);
    transform: translateY(-100px);
    z-index: 100;
    background-color: #ffffff;
    padding: 90px;
    font-size: 18px;;
    .direitosReservados,.informacoesDosResponsaveis,.rodapeFolhaDeCreditos{
      text-align: center;
      word-break: break-word;
    }
    .disclaimer{
      &__title{
        padding-left: 10px;
        border-left: solid 6px #007ABF;
        p{
          font-size: 1.25rem;
          font-weight: bolder;
        }
      }
    }
    .fichaCatalografica{
      &__title{
        font-weight: bolder;
      }
      &__content{
        border-top: 1px solid #4C4C4C;
        padding: 0 1.5rem;
        line-height: 1.88;
      }
      &__cdd{
        text-align: right;
        border-bottom: 1px solid #4C4C4C;
      }
    }
  }
  @media (max-width: 767px) {
    .capa{
      min-height: 100vh;
      padding-top: 0;
      padding-bottom: 0;
    }
    .folha{
      transform: unset;
      padding: 30px;
      max-width: 540px;
      margin: 0 auto;
    }
  }
} 