.tabela {
  margin-top: 40px;
}
.tabela .hide {
  max-height: 0px;
  overflow-y: hidden;
}
.tabela table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: collapse;
  font-size: 18px;
}
.tabela table thead tr {
  background-color: #dbe3ec;
  font-weight: bold;
}
.tabela table:not(:has(thead)) tr:first-child {
  background-color: #dbe3ec;
  font-weight: bold;
}
.tabela table td {
  border: 1px solid #939393;
  padding: 0.75rem;
  vertical-align: top;
}