/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* colors */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: #3a3a3a;

  /* fonts */
  --body-font-family: "Open Sans", roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: "Open Sans", 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;
  }
}
html{
  scroll-behavior: smooth;
  overflow-x: clip;
}
body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}
.block{
  scroll-margin-top: 150px;
}

header {
  display: none; 
  height: var(--nav-height);
}
footer{
  display: none; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: unset;
  // line-height: 1.25;
  // margin-top: 1em;
  // margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
// pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

// code,
// pre {
//   font-family: var(--fixed-font-family);
//   font-size: var(--body-font-size-s);
// }

// code {
//   padding: 0.125em;
// }

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

a{
  overflow-wrap: break-word;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
} 

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 0 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 0 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

main .section.deep-purple {
  background-color: #b982ff; 
}



 main .section.columns{ 
   &-two{
     display: grid;
     gap: 10px;
     grid-template-columns: 1fr 1fr;
     max-width: 1200px;
     margin: auto;
     > * {
       margin: 0;
     }
    }
    &-three{
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1200px;
      margin: auto;

      > * {
        margin: 0;
      }
    }
  }

  main .section.hidden{
    display: none; 
  }

  //tab sections selector
  main [data-tab-id]{
    
  }

  .loader-15 {
    display: none;
    background: currentcolor;
    position: absolute;
    animation: loader-15 1s ease-in-out infinite;
    animation-delay: 0.4s;
    width: .25em;
    height: .5em;
    margin: 0 .5em;
    top: 50%;
    left: 50%;
    &:after,
    &:before {
      content: '';
      position: absolute;
      width: inherit;
      height: inherit;
      background: inherit;
      animation: inherit;
    }
    &:before {
      right: .5em;
      animation-delay: 0.2s;
    }
    &:after {
      left: .5em;
      animation-delay: 0.6s;
    }
    &.loading{
      display: block;
    }
  }
  
  @keyframes loader-15 {
    0%,
    100% {
      box-shadow: 0 0 0 currentcolor, 0 0 0 currentcolor;
    }
    50% {
      box-shadow: 0 -.25em 0 currentcolor, 0 .25em 0 currentcolor;
    }
  }

  .loadable{
    opacity: 0.1;
    &:before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: #ccc;
      position: absolute;
      z-index: 10;
    }
  }


.error-notice{
  margin:5px; /* Make sure to keep some distance from all sides */
  .oaerror{
    background-color: #ffffff;
    padding:20px;
    border:1px solid #eee;
    border-left-width:5px;
    border-radius: 3px;
    margin:10px auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    &.danger{
      border-left-color: #d9534f; /* Left side border color */
      background-color: rgba(217, 83, 79, 0.1); /*Same color as the left border with reduced alpha to 0.1*/
      strong{
        color:#d9534f;
      }
    }
      
    &.warning{
      border-left-color: #f0ad4e;
      background-color: rgba(240, 173, 78, 0.1);
      strong{
        color:#f0ad4e;
      }
    }
      
    &.info {
      border-left-color: #5bc0de;
      background-color: rgba(91, 192, 222, 0.1);
      strong {
        color: #5bc0de;
      }
    }
      
    &.success {
      border-left-color: #2b542c;
      background-color: rgba(43, 84, 44, 0.1);
      strong {
        color: #2b542c;
      }
    }
  }
}
